%base {
  position: absolute;
  overflow: hidden;
}

%wrapper {
  @extend %base;
  z-index: 999;
}

.star {
  @extend %wrapper;
  height: 5px;
  width: 5px;
}

.horizontalStarLine {
  @extend %base;
  height: 1px;
  left: 0;
  top: 2px;
  width: 5px;
}

.verticalStarLine {
  @extend %base;
  height: 5px;
  left: 2px;
  top: 0;
  width: 1px;
}

.tinyStar {
  @extend %base;
}
