%sparkleToggle {
  border-color: transparent;
  transition: filter 0.67s ease-in;

  &:focus {
    outline: none;
  }
}

.sparkleToggleOn {
  @extend %sparkleToggle;
}

.sparkleToggleOff {
  @extend %sparkleToggle;
  filter: grayscale(100%);
}
