body {
  font-family: 'EF-Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'EF-Bold', sans-serif;
}

p {
  padding-bottom: 0.2em;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'EF-Bold', sans-serif;
  font-weight: bold;
}

@font-face {
  font-family: 'EF-Regular';
  src: url('../fonts/EF-Regular.woff2') format('woff2'),
    url('../fonts/EF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EF-Bold';
  src: url('../fonts/EF-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EF-Light';
  src: url('../fonts/EF-Light.otf') format('otf');
  font-weight: lighter;
  font-style: normal;
}
